#!/bin/bash

set -euo pipefail

printf ">> Trusting SSH keys.\n"
mkdir -p /home/core/.ssh
touch /home/core/.ssh/authorized_keys
curl --silent https://github.com/smashwilson.keys >> /home/core/.ssh/authorized_keys
chmod 0700 /home/core/.ssh
chmod 0600 /home/core/.ssh/authorized_keys
printf ">> SSH keys trusted.\n"

printf ">> Enabling Docker service.\n"
sudo systemctl enable docker.service
printf ">> Docker service enabled.\n"

printf ">> Setting server timezone.\n"
sudo timedatectl set-timezone UTC
printf ">> Server timezone set.\n"

printf ">> Downloading and extracting az-coordinator.\n"
sudo curl --silent --location '{{ az_coordinator.download_url }}' --output /usr/local/bin/az-coordinator.tar.gz
tar zxvf /usr/local/bin/az-coordinator.tar.gz
sudo chown :core /usr/local/bin/az-coordinator
sudo chmod ug+rx /usr/local/bin/az-coordinator
printf ">> az-coordinator downloaded.\n"

printf ">> Writing az-coordinator options.\n"
sudo cat <<EOF >/etc/az-coordinator/options.json
{{ az_coordinator.options_json }}
EOF
printf ">> az-coordinator options written.\n"

printf ">> Bootstrapping host.\n"
sudo /usr/local/bin/az-coordinator -v init
printf ">> Host bootstrapped.\n"
